@import "color";

#top-nav {
    height: 64px;
    display: flex;
    background: $primary-color;

    .left-box {
        flex: 0 0 200px;
    }

    .right-box {
        flex: 1 1 0;
        width: 0;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        .menu-box {
            flex: 1 1 auto;
            width: 0;
            display: flex;
            align-items: center;

            .ant-menu {
                width: 100%;
                border-bottom: none;
                background: none;
                color: rgba(255, 255, 255, 0.65);
                line-height: 30px;

                .ant-menu-item,.ant-menu-submenu {
                    border-bottom: none;
                    .ant-menu-submenu-title{
                        &:hover{
                            color: #fff;
                        }
                    }
                    &-selected {
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 4px;
                        color: #fff;
                    }

                    &-active,&:hover {
                        color: #fff;
                    }
                }
            }
        }

        .user-box {
            margin-left: 15px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            a{
                color: #fff;
            }
        }
    }
}